@import './fonts.css';

:root {
  --font-merriweather: 'Merriweather';
  --font-pt-serif: 'PT Serif';
  --font-yeseva-one: 'Yeseva One';
  --font-roboto: 'Roboto';
}

body {
  margin: 0;
  padding: 0;
  background-color: #0d0c11;
}

#app {
  position: relative;
}
